#option1{
  display: none;
}

#option2{
  display: none;
}

#option3{
  display: none;
}

#option4{
  display: none;
}

#option5{
  display: none;
}

body{
  background-color: grey;
  color: #2e2e2e;
}

h1{
  background-color: blue;
  line-height: 2em;
  text-align: center;
  margin-bottom: 0px;
  color: white;
  font-weight: 200;
}

.container {
  background-color: lightgray;
  padding: 60px;
}
